.checkOutItem_container {
  border: 1px solid #ccc;
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 250px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 10px;
}
.text_style {
  font-size: medium;
  font-weight: bold;
}
.left_container {
  display: flex;

  height: 250px;
}
